<section id="about" class="section-padding about-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="section-title">
          <br />
          <div class="section-subtitle">
            About Us
            <hr style="background-color: #e9e7e1; height: 2px;" />
          </div>
          <h2 class="section_main_title">WHO WE <strong>ARE</strong></h2>
          <hr style="background-color: darkcyan; height: 2px;" />
        </div>
      </div>
      <div class="about-item">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electroni
        </p>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
        </p>
        <div class="hgt-20"></div>
        <div class="home-button">
          <br />
          <a href="" class="btn-color-background">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
