<nav>
  <div class="logo">
    <img src="/images/smalllogo.jpg" alt="" />
  </div>
  <ul>
    <li><a href="/home" class="active">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="/aboutus">About Us</a></li>
    <li>
      <a href="#" data-toggle="modal" data-target="#exampleModal">Contact Us</a>
    </li>
  </ul>
</nav>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <b>Contact Information :</b>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <th colspan="2">Mobile Number :</th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <td>9896083791</td>
            <td></td>
            <td>9466289134</td>
          </tr>
          <tr>
            <th>Landline :</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tr>
            <td></td>
            <td>
              01712520081
            </td>
          </tr>
          <tr>
            <th>Address :</th>
          </tr>
          <tr>
            <td></td>
            <td colspan="3">
              908, Friends Colony, Model Town Amabala City 134003 (Punjab)
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
