<nav>
  <div class="logo">
    <img src="/images/smalllogo.jpg" alt="" />
  </div>
  <ul>
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="/aboutus">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>
