

	<h2><strong>What's new?</strong></h2>

	<div class="news">
<%for(let product of products){%>
		<figure class="article">

			<img src="/images/products/<%=product.image%>" />

			<figcaption>

				<h3><%=product.name%></h3>

				<p>

					<%=product.description %>

				</p>

			</figcaption>

		</figure>

<%}%>
	</div>

</div>