<div class="heading container">
  <h1 class="display-3">Category - A</h1>
</div>
<section>
  <!-- <br><br><br><br><br><br><br><br><br> -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-1.jpg" />
              <img class="pic-2" src="/images/img-1.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <div class="price">$21.00</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-3.jpg" />
              <img class="pic-2" src="/images/img-4.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-5.jpg" />
              <img class="pic-2" src="/images/img-6.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="heading container">
  <h1 class="display-3">Category - B</h1>
</div>
<section>
  <!-- <br><br><br><br><br><br><br><br><br> -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-1.jpg" />
              <img class="pic-2" src="/images/img-1.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <div class="price">$21.00</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-3.jpg" />
              <img class="pic-2" src="/images/img-4.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-5.jpg" />
              <img class="pic-2" src="/images/img-6.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="heading container">
  <h1 class="display-3">Category - C</h1>
</div>
<section>
  <!-- <br><br><br><br><br><br><br><br><br> -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-1.jpg" />
              <img class="pic-2" src="/images/img-1.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <div class="price">$21.00</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-3.jpg" />
              <img class="pic-2" src="/images/img-4.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-5.jpg" />
              <img class="pic-2" src="/images/img-6.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="heading container">
  <h1 class="display-3">Category - D</h1>
</div>
<section>
  <!-- <br><br><br><br><br><br><br><br><br> -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-1.jpg" />
              <img class="pic-2" src="/images/img-1.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Men's Blazer</a></h3>
            <div class="price">$21.00</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-3.jpg" />
              <img class="pic-2" src="/images/img-4.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-5.jpg" />
              <img class="pic-2" src="/images/img-6.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#">
              <img class="pic-1" src="/images/img-7.jpg" />
              <img class="pic-2" src="/images/img-8.jpg" />
            </a>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">Women's Button Top</a></h3>
            <div class="price discount"><span>$17.00</span> $13.60</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
