.section-subtitle {
  margin-bottom: 7px;
  padding-left: 7px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #aaaaaa;
  border-left: 3px solid #bfa67a;
  font-size: 700;
  font-family: tahoma;
}
.section_main_title {
  margin-left: -4px;
  margin-top: 0;

  font-size: 30px;
  line-height: 1.27;
  font-weight: 300;
}
.section_main_title strong {
  font-weight: 600;
}
.about-box {
  -webkit-box-shadow: 0 0 0 10px #000000 inset;
  box-shadow: 0 0 0 10px #000000 inset;
  margin-right: 0;
  margin-top: 0;
  position: relative;
  display: block;
}
.box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #a9ccbc;
  opacity: 0.5;
  z-index: 3;
  transform: translateY(30px) translateX(-30px);
  -webkit-transform: translateY(30px) translateX(-30px);
}
.about-box .videopopup img {
  transform: translateY(30px) translateX(-30px);
  -webkit-transform: translateY(30px) translateX(-30px);
  width: 100%;
  z-index: 1;
}
.about-box .videopopup {
  position: relative;
}
.sonar-wrapper {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: 20px;
}
.sonar-emitter {
  position: relative;
  margin: 0px auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #bfa67a;
  text-align: center;
}
.sonar-emitter i {
  z-index: 10;
  font-size: 20px;
  color: white;
  margin-left: 4px;
  line-height: 32px;
}
.sonar-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 9999px;
  background-color: #bfa67a;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}
.sonar-wave {
  animation: sonarWave 2s linear infinite;
}
@keyframes sonarWave {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}
.btn-color-background {
  -moz-user-select: none;
  background-color: transparent;
  background-image: -webkit-linear-gradient(
    145deg,
    #faa61f 0%,
    #faa61f 0%,
    #ed1847 100%
  );
  border: 1px solid #bfa67a;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s ease 0s;
  vertical-align: middle;
}
.btn-color-background:hover {
  text-decoration: none;
  color: white;
  background: transparent;
  color: #272627;
}
