.main_div {
  display: inline-block;
  margin: 4px;
  width: 350px;
  text-align: left;
}
.info-block {
  display: inline-block;
  text-align: left;
}
.text-large {
  font-size: 18px;
}
.text-light {
  font-weight: 300;
  color: black;
}
.text {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}
.requirement {
  margin-bottom: 20px;
  width: 280px;
}
